{#https://v5.bootcss.com/docs/examples/offcanvas-navbar/#}
{% extends 'layout.html' %}
{% load static %}

{% block title %}
    AI communityTranPic
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/community/offcanvas-navbar.css' %}">
    <style>
        {% comment %}.shadow-sm {
            box-shadow: 0 .125rem .25rem rgba(var(--bs-body-color-rgb), .075) !important;
        }{% endcomment %}

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="MathJax_Message" style="display: none;"></div>

    <main class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow">
            {#            <img class="me-3" src="" alt="" width="48" height="38">#}
            <div class="lh-1">
                <h1 class="h6 mb-0 text-white lh-1">图像风格转化源码社区</h1>
                <small>Since 2024</small>
            </div>
        </div>

        <div class="my-3 p-3 bg-body rounded shadow">
            <h6 class="border-bottom pb-2 mb-0">最新言论</h6>
            <div class="d-flex text-muted pt-3">
                <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                     preserveAspectRatio="xMidYMid slice" focusable="false" src="{% static 'img/NFT-lu/26.jpg' %}"
                     alt=""><title>Placeholder</title>
                {% comment %}<svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#007bff"></rect>
                    <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
                </svg>{% endcomment %}
                <p class="pb-3 mb-0 small lh-sm border-bottom">
                    <strong class="d-block text-gray-dark">@Y</strong>
                    对于缺乏Tensorflow-GPU环境的可以参考文献。<a
                        href="https://stringency.github.io/2023/08/08/tensorflow2-gpu_install_python310/"
                        target="_blank">YaungのBLOGs</a>
                </p>

            </div>

            <div class="d-flex text-muted pt-3">
                <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                     preserveAspectRatio="xMidYMid slice" focusable="false" src="{% static 'img/NFT-lu/26.jpg' %}"
                     alt=""><title>Placeholder</title>
                {% comment %}<svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#e83e8c"></rect>
                    <text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text>
                </svg>{% endcomment %}
                <p class="pb-3 mb-0 small lh-sm border-bottom">
                    <strong class="d-block text-gray-dark">@Y</strong>
                    没有GPU可以用CPU，不仅要注释源代码那两行取消GPU加速，还要稍微修改其它地方的代码，有意者可以研究并且和我交流。
                </p>
            </div>
            <div class="d-flex text-muted pt-3">
                <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                     preserveAspectRatio="xMidYMid slice" focusable="false" src="{% static 'img/NFT-lu/26.jpg' %}"
                     alt=""><title>Placeholder</title>
                {% comment %}<svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#6f42c1"></rect>
                    <text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text>
                </svg>{% endcomment %}
                <p class="pb-3 mb-0 small lh-sm border-bottom">
                    <strong class="d-block text-gray-dark">@Y</strong>
                    我用3060跑界面例子图，大概用了1-2分钟。
                </p>
            </div>
            <small class="d-block text-end mt-3">
                <a href="#">All updates</a>
            </small>
        </div>


    </main>





    {% comment %}
    <div></div>
    <div style="position: fixed; width: 28px; left: 0px; top: 0px; height: 28px; cursor: pointer; will-change: transform; font-size: 0px; z-index: 2147483647 !important; display: none;">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="27" height="27" rx="5.5" fill="white"></rect>
            <path d="M16.5 19L14.1564 14.6734M12.309 11.2628L10 6.99997M11.5 19L18 6.99997M12 17.5C12 18.8807 10.8807 20 9.5 20C8.11929 20 7 18.8807 7 17.5C7 16.1193 8.11929 15 9.5 15C10.8807 15 12 16.1193 12 17.5ZM21 17.5C21 18.8807 19.8807 20 18.5 20C17.1193 20 16 18.8807 16 17.5C16 16.1193 17.1193 15 18.5 15C19.8807 15 21 16.1193 21 17.5Z"
                  stroke="#333333" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <rect x="0.5" y="0.5" width="27" height="27" rx="5.5" stroke="#CCCCCC"></rect>
        </svg>
    </div>
    <figure id="kdocs_web_cut_iframe_box"></figure>
    <iframe id="kdocs__0501__ext_loading" allowtransparency="true"
            src="chrome-extension://obdgpngffdbfdonamidnhjlpdfmjkgol/kdocs/loading/index.html"
            style="position: fixed; z-index: 2147483647; width: 336px; height: 60px; right: 20px; top: 20px; overflow: hidden; border: 3px solid rgb(228, 231, 237); background: rgb(255, 255, 255); box-sizing: border-box; border-radius: 8px; box-shadow: rgba(13, 13, 13, 0.08) 0px 12px 32px; display: none;"></iframe>
{% endcomment %}


{% endblock %}


{% block js %}
    <script src="{% static 'js/community/offcanvas-navbar.js' %}"></script>
    {#    这里导入自己下载的MathJax.js会出问题#}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML&amp;delayStartupUntil=configured">
    </script>

    <script id="texAllTheThingsPageScript" type="text/javascript"
            src="{% static 'js/pageScript.js' %}"
            inlinemath="[[&quot;$&quot;,&quot;$&quot;],[&quot;[;&quot;,&quot;;]&quot;]]"
            displaymath="[[&quot;$$&quot;,&quot;$$&quot;],[&quot;\\[&quot;,&quot;\\]&quot;]]"
            skiptags="[&quot;script&quot;,&quot;noscript&quot;,&quot;style&quot;,&quot;textarea&quot;,&quot;pre&quot;,&quot;code&quot;]"
            ignoreclass="false" processclass="false"></script>
    <script type="text/javascript">
        $(function () {
            //页面加载完成后自动执行的代码


        })
    </script>
{% endblock %}