{#https://v5.bootcss.com/docs/examples/carousel/#}
{% extends 'layout.html' %}
{% load static %}

{% block title %}
    AI FSCS
{% endblock %}

{% block css %}
    <style>

        {% comment %}.moveimgSize {
            width: 1897px;
            height: 980px;
        }{% endcomment %}


    </style>

{% endblock %}

{% block content %}

    <div id="myCarousel" class="carousel slide pointer-event carousel-fade" data-bs-ride="carousel">
        {#轮播滑条按钮#}
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" aria-label="Slide 1"
                    class="active" aria-current="true"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"
                    class=""></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"
                    class=""></button>
        </div>
        {#轮播内容#}
        <div class="carousel-inner">
            {#一个轮播样式#}
            <div class="carousel-item active">
                {#轮播的图片#}
                <img class="bd-placeholder-img d-block w-100 moveimgSize" src="{% static 'img/index/11.jpg' %}"
                     aria-hidden="true" alt="">
                <rect width="100%" height="100%" fill="#777"></rect>

                {#轮播里面的内容#}
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>FCSC 的初衷</h1>
                        <h2>——让更多人能低门槛的使用和体验AI功能和服务。</h2>
                        {#                        <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>#}
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="bd-placeholder-img d-block w-100 moveimgSize" src="{% static 'img/index/22.jpg' %}"
                     aria-hidden="true" alt="">
                <rect width="100%" height="100%" fill="#777"></rect>

                <div class="container">
                    <div class="carousel-caption">
                        <h1>FCSC 的目标</h1>
                        <h2>——打造一个大型开源AI功能一体化服务社区平台。</h2>
                        {#                        <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>#}
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="bd-placeholder-img d-block w-100 moveimgSize" src="{% static 'img/index/33.jpg' %}"
                     aria-hidden="true" alt="">
                <rect width="100%" height="100%" fill="#777"></rect>


                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>FCSC 的宏愿</h1>
                        <h2>——打造全球化大型AI服务系统，普及AI技术，推动人类社会发展。</h2>
                        {#                        <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>#}
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                     preserveAspectRatio="xMidYMid slice" focusable="false" src="{% static 'img/NFT-lu/26.jpg' %}"
                     alt=""><title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777"></rect>
                {#                <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>#}

                <h2 class="fw-normal">Y</h2>
                <p>促进人工智能的普遍性，深入开发人工智能服务，突破智能发展的壁垒，开拓人工智能新道路，致力于通过人工智能提高人类社会效率。</p>
                <p><a class="btn btn-secondary" href="https://stringency.github.io/" target="_blank">去认识下 »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                     preserveAspectRatio="xMidYMid slice" focusable="false" src="{% static 'img/NFT-lu/6.jpg' %}"
                     alt=""><title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777"></rect>
                {#                    <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>#}

                <h2 class="fw-normal">L</h2>
                <p>Another exciting bit of representative placeholder content. This time, we've moved on to the
                    second column.</p>
                <p><a class="btn btn-secondary" href="#" target="_blank">去认识下 »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                     preserveAspectRatio="xMidYMid slice" focusable="false" src="{% static 'img/NFT-lu/23.jpg' %}"
                     alt=""><title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777"></rect>
                {#                    <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>#}

                <h2 class="fw-normal">T</h2>
                <p>And lastly this, the third column of representative placeholder content.</p>
                <p><a class="btn btn-secondary" href="#" target="_blank">去认识下 »</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">AI如此简单，<span class="text-muted">有手就行。</span>
                </h2>
                <p class="lead">在这里能最简单的体验到AI功能与服务。</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                     height="500" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
                     focusable="false" src="{% static 'img/index/headSC.jpg' %}"><title>Placeholder</title>
                {% comment %}<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                     height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee"></rect>
                    <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
                </svg>{% endcomment %}
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">什么是简单？<span class="text-muted">小学生都在学。</span>
                </h2>
                <p class="lead">致力于简单的入手，浅入深出不迷糊。</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                     height="500" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
                     focusable="false" src="{% static 'img/index/childlearn.jpg' %}"><title>Placeholder</title>
                {% comment %}<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                     height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee"></rect>
                    <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
                </svg>{% endcomment %}
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">表面浅显，<span
                        class="text-muted">实则大有乾坤。</span>
                </h2>
                <p class="lead">简单的入门能产生无限的兴趣和动力，以便后续深入的学习和思考。</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                     height="500" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
                     focusable="false" src="{% static 'img/index/deeply.jpg' %}"><title>Placeholder</title>
                {% comment %}<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                     height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee"></rect>
                    <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
                </svg>{% endcomment %}
            </div>
        </div>


        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->




{% endblock %}